aws_account_id = ""
region = ""
project_name = ""
db_username = ""
db_password = ""
bastion_key_name = ""
bastion_key_path = ""
repository_main = ""
repository_auth = ""
jwt_secret = ""
jwt_expires_in = ""
auth_endpoint = ""